<div id="follow-icons">
	<a href="http://instagram.com/guolin"><i class="fa fa-instagram fa-2x"></i></a>
	<a href="http://pinterest.com/guolin"><i class="fa fa-pinterest-square fa-2x"></i></a>
	<a href="http://github.com/guolin"><i class="fa fa-github-square fa-2x"></i></a>
	<a href="http://facebook.com/guolinnn"><i class="fa fa-facebook-square fa-2x"></i></a>
	<a href="http://twitter.com/MrGuo"><i class="fa fa-twitter-square fa-2x"></i></a>
	<a href="http://linkedin.com/in/mrguolin"><i class="fa fa-linkedin-square fa-2x"></i></a>
	<a href="<%- config.root %>atom.xml"><i class="fa fa-rss-square fa-2x"></i></a>
</div>
<h6><a href="<%- config.root %>about">About</a></h6>