<% permalink = config.url + config.root + post.path %>

<article class="post page">
  <h1 class="post-title"><%- post.title %></h1>
  <section class="post-content article-entry">
    <%- post.content %>
  </section>
</article>